{% autoescape off %}
Hallå,

Du har begärt ändring av ditt Helsingforsbilder.fi lösenord.

Klicka här för att återställa ditt lösenord:
{{ protocol }}://{{ HKM_MY_DOMAIN }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Länken är giltig i 24 timmar. Om du inte försökte ändra ditt lösenord kan du ignorera detta meddelande.

Hälsningar,
Helsingforsbilder

Detta meddelande har skickats automatiskt. Svara inte på detta meddelande eftersom svar inte kommer att behandlas.
{% endautoescape %}