body {
  margin: 0;
  font-family: $font-signe;
}
nav {
  width: 100%;
  height: 60px;
}
a {
  font-family: $font-signe;
}
img {
  height: 100%;
}

/* Content */
.image-block {
  float: left;
  background-image: url('/static/hkm/img/city.jpg');
  width: 100%;
  height: 340px;
}
.page-header {
  display: block;
  color: $color-strikemaster;
  background: $color-theme;
  margin: 30px 0 0 0;
  padding-bottom: 0;
}
.page-header h1 {
  display: block;
  font-size: 40px;
  margin-top: 18px;
  line-height: 40px;
}
.search-form {
  margin-top: 170px !important;

  .form-control {
    width: 100%;
    height: 40px;
    border: solid 1px $color-salmon;
    border-radius: 20px;
  }
  .form-control:focus {
    outline-color: #4D90FE;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
    border-right: 0;
  }
  .input-group-btn .btn {
    height: 40px;
    border: solid 1px  $color-salmon;
    border-left: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

/* Navigation */
.nav-logo {
  float: left;
  text-align: center;
}
.nav-logo {
  display: block;
}
.nav-logo a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 30px;
}
.logo-img {
  padding: 12px;
  display: inline-block;
  float: left;
  height: 100%;
}
.logo-text {
  display: inline-block;
  float: left;
  height: 60px;
  line-height: 66px;
}
.nav-container {
  float: right;
}
.nav-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-container li {
  display: inline-block;
  text-align: center;
  padding: 0 16px;
}
.nav-container li a {
  text-decoration: none;
  padding: 20px 0;
  line-height: 60px;
}

/* Actions */
.actions-container {
  display: inline-block;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
}
.actions-container ul {
  margin: 0;
}
.actions-container.left-actions {
  left: 0;
}
.actions-container.right-actions {
  right: 0;
}
.action-btn {
  height: 60px;
  border: 0;
  background: 0;
}
.action-btn:hover {
  cursor: pointer;
}
