body {
  margin: 0;
  font-family: $font-signe;
}
a {
  font-family: $font-signe;
}
img {
  height: 100%;
}

/* Navigation */
.navbar {
  margin: 0;
  height: 60px;
  border: 0;
  border-radius: 0;
}
.navbar-nav {
  float: right;
  li {
    display: inline-block;
    padding: 0 16px;
    a {
      padding: 0;
      display: inline-block;
      line-height: 60px;
    }
  }
  li > a:hover, li > a:focus {
    background-color: transparent;
  }
}
.navbar-collapse {
  padding: 0;
}
.navbar-toggle {
  padding: 0 18px;
  margin: 0;
  height: 100%;
  width: 60px;
  color: $color-theme;
  border-radius: 0;
}
.navbar-toggle:hover {
  background: rgba(0, 0, 0, 0.2);
}
.navbar-brand {
  text-decoration: none;
  font-size: 30px;
  height: 100%;
  padding: 0;
}
.brand-img {
  float: left;
  padding: 12px;
  height: 100%;
}
.brand-text {
  float: left;
  height: 60px;
  line-height: 64px;
}
.nav_viewer {
  background: rgba(0, 0, 0, 0.6);
  border-bottom: solid 1px $color-salmon;
  color: $color-theme;
  a {
    color: $color-theme;
  }
  .navbar-toggle .icon-bar {
    background: $color-theme;
  }
}
.nav_collection {
  background: $color-theme;
  border-bottom: solid 1px $color-strikemaster;
  color: $color-strikemaster;
  a {
    color: $color-strikemaster;
  }
  .navbar-toggle .icon-bar {
    background: $color-strikemaster;
  }
}

/* Main */
.image-viewer {
  background-image: url('/static/hkm/img/city.jpg');
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.banner {
  float: left;
  background-image: url('/static/hkm/img/city.jpg');
  width: 100%;
  height: 340px;
  margin-bottom: 30px;
}
.page-header {
  display: block;
  color: $color-strikemaster;
  background: $color-theme;
  margin: 30px 0 0 0;
  padding-bottom: 0;
}
.page-header h1 {
  display: block;
  font-size: 40px;
  margin-top: 18px;
  line-height: 40px;
}

/* Actions */
.actions {
  display: inline-block;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
}
.actions ul {
  margin: 0;
}
.actions_left {
  left: 0;
}
.actions_right {
  right: 0;
}
.actions__btn {
  height: 60px;
  padding: 12px;
  border: 0;
  background: 0;
}
.actions__btn:hover {
  cursor: pointer;
}

/* Content */
.content {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}
.sidebar {
  float: left;
  width: 20%;
  border: 0;
  a {
    color: #000;
    font-family: 'falkmanbold';
  }
  .list-group.list-group-root {
    border: 0;
    padding: 0;
    overflow: hidden;
  }
  .list-group.list-group-root .list-group {
    margin-bottom: 0;
    padding-left: 20px;
    font-size: 12px;
  }
  .list-group.list-group-root .list-group a {
    color: #555555;
  }
  .list-group.list-group-root .list-group-item {
    border-radius: 0;
    border: 0;
    padding: 0;
  }
  .list-group.list-group-root > .list-group-item:first-child {
    border: 0;
  }
  .list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
  }
  .list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
  }
}
.article {
  float: right;
  width: 80%;
}

/* Grid */
.flex-images {
  overflow: hidden;
}
.flex-images .item {
  float: left;
  margin: 4px;
  border: 1px solid #eee;
  box-sizing: content-box;
  overflow: hidden;
  position: relative;
}
.flex-images .item img {
  display: block;
  width: auto;
  height: 100%;
}
.record-title {
  @extend .fade;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  font-size: 12px;
  font-family: 'goviniusbold';
  background: rgba(0, 0, 0, 0.5);
}
.flex-images .item:hover {
  .record-title {
    @extend .in;
  }
}

/* Search */
.search-form {
  margin-top: 170px;
  .form-control {
    width: 100%;
    height: 40px;
    border: solid 1px $color-salmon;
    border-radius: 20px;
  }
  .form-control:focus {
    outline-color: #4D90FE;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
    border: solid 1px $color-salmon;
  }
  .input-group-btn .btn {
    height: 40px;
    border: solid 1px  $color-salmon;
    border-left: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

/* Dialogs */
.modal-dialog {
  margin: 80px auto;
}
