@font-face {
  font-family: 'Signe';
  src: url('/static/hkm/font/Werklig/Signe.ttf');
}

$color-theme: #fff;

$font-signe: 'Signe', sans-serif;

$color-salmon: #f1856b;
$color-strikemaster: #965479;
