
$color-theme: #fff;
$color-white: #fff;
$color-viewer-theme: rgba(33, 33, 33, 0.8); // dark gray
$color-shark: #212121; // dark gray

$font-signe: 'Signe', sans-serif;
$font-govinius: 'goviniusbold', sans-serif;
$font-falkman: 'Falkman', sans-serif;
$font-falkmanbold: 'falkmanbold', sans-serif;
$font-brownlight: 'brownlight', sans-serif;
$font-brownbold: 'brownbold', sans-serif;

$color-bittersweet: #ff7862; // pale red
$color-salmon: #f1856b; // pale red
$color-strikemaster: #975379; // purple
$color-endeavour: #0055ae; // blue
$color-funblue: #005cab; // blue
$color-mariner: #3a6bc0; // sea blue
$color-indigo: #5960c6; // purple blue
$color-padua: #b0e4ce; // light turquoise
$color-vistablue: #90d5ad; // turquoise
$color-mountainmeadow: #00bf83; // turquoise
$color-silvertree: #63c29d; // dark turquoise
$color-emerald: #07cd83; // green turquoise
$color-sunglow: #ffcd31; // yellow
$color-caramel: #ffdbab; // light yellow
$color-peach: #ffe4b8; // nude
