*.db
*.egg-info
*.orig
*.pyc
*.swo
*.swp
.cache
.coverage
.directory
.DS_Store
.fseventsd
.git
.installed.cfg
.mr.developer.cfg
.Spotlight*
.svn
.transifexrc
.Trashes
bin
celerybeat-schedule
celerybeat.pid
develop-eggs
doc/build/
downloads
eggs
htmlcov
local_settings.py
mediaroot/*
node_modules
parts
staticroot/*
components/*
