parts
eggs
bin
develop-eggs
downloads
*.egg-info
.installed.cfg
project/database.db
.DS_Store
*.pyc
.svn
.git
.Trashes
.fseventsd
.Spotlight*
.directory
*.swp
doc/build/
.mr.developer.cfg
*.orig
staticroot/*
node_modules
mediaroot/*
*.swo
local_settings.py
.transifexrc
celerybeat-schedule
celerybeat.pid
