paramiko
Pillow
django==1.10.8
amqp
anyjson
argh
Babel
billiard
cffi
coverage
cryptography
django-appconf
django-apptemplates
django-compressor
django-environ
django-extensions
django-nose
django-redis-sessions
django-supervisor
djangorestframework
django-ordered-model
django-phonenumber-field
django-widget-tweaks
enum34
factory-boy
idna
ipaddress
Jinja2
kombu
librabbitmq
meld3
mock
nose
pathlib
pathtools
phonenumberslite
psycopg2
pyasn1
pycparser
pyOpenSSL
pyScss
python-memcached
pytz
PyYAML
raven
requests
six
supervisor
watchdog
django-parler
django-bower
