Pillow==8.3.2
django<2.1
django-apptemplates==1.5
django-compressor==2.4.1
django-environ==0.8.1
django-ordered-model==2.1.0
django-phonenumber-field==2.3.1
django-widget-tweaks==1.4.12
phonenumberslite
psycopg2<2.9
requests
django-parler<2.2
django-anymail<5.0
django-storages==1.6.5
Unidecode
