Pillow
django
django-apptemplates
django-compressor
django-environ
django-ordered-model
django-phonenumber-field
django-widget-tweaks
phonenumberslite
psycopg2
requests
django-parler
django-anymail
django-storages
Unidecode
google-cloud-storage
azure-storage-blob
