{% load i18n %}
<div id="popover-cart-content">
  <ul class="popover-list">
    {% if full_res_image_url %}
      <li class="popover-list__item"><a class="popover-list__btn" href="{{ full_res_image_url }}">{% trans 'Download printable image' %}</a></li>
    {% endif %}
    {% if web_image_url %}
    <li class="popover-list__item"><a class="popover-list__btn" href="{{ web_image_url }}">{% trans 'Download web-image' %}</a></li>
    {% endif %}
    <li class="popover-list__item"><button class="popover-list__btn" data-img-url="{{ full_res_image_url }}" data-toggle="modal" data-target="#crop-image">{% trans 'Crop and download' %}</button></li>
    <li class="popover-list__item"><button class="popover-list__btn">{% trans 'Order a product of the image' %}</button></li>
  </ul>
</div>
