{% load i18n %}
<div id="popover-info-content">
  <h3 class="popover__title"><a class="popover__link" href="{% url 'hkm_record' finna_id=finna_id %}">{{ record_title }}</a></h3>
  <div class="popover__article">
    {% for author in record_authors %}
      <p class="popover__author">{{ author }}</p>
    {% endfor %}
    <p class="popover__year">
      {{ record_year }},
      {% for geo in record_geo %}
        {{ geo }}
      {% endfor %},
      {% for measure in record_measures %}
        {{ measure }}
      {% endfor %}
    </p>
    <p class="popover__description">{{ record_description }}</p>
  </div>
</div>
