{% load i18n %}
<div id="popover-cart-content">
  <ul class="popover-list">
    {% if full_res_image_url %}
      <li class="popover-list__item"><a class="popover-list__btn" href="{{ full_res_image_url }}">{% trans 'Download printable image' %}</a></li>
    {% endif %}
    {% if web_image_url %}
    <li class="popover-list__item"><a class="popover-list__btn" href="{{ web_image_url }}">{% trans 'Download web-image' %}</a></li>
    {% endif %}
    <li class="popover-list__item"><button class="popover-list__btn" data-img-url="{{ web_image_url }}" data-toggle="modal" data-record-id="{{ finna_id }}" data-target="#crop-and-download">{% trans 'Crop and download' %}</button></li>
    {% if full_res_image_url %}
      <li class="popover-list__item"><button class="popover-list__btn" data-img-url="{{ web_image_url }}" data-toggle="modal" data-record-id="{{ finna_id }}" data-target="#crop-and-order">{% trans 'Order a product of the image' %}</button></li>
    {% else %}
      <li class="popover-list__item">{% trans 'This is a low resolution image, product orders are not available' %}</li>
    {% endif %}
  </ul>
</div>
