{% load i18n %}

<div id="cookie-consent">
    <div id="cookie-consent__container">
        <div id="cookie-consent__title-container">
            <div id="cookie-consent__title">Cookie consent title</div>
            <button type="button" id="cookie-consent__readmore-btn" class="cookie-consent__accordion-btn">
                <span>Read more</span>
                <svg class="" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-label="angle-up" aria-hidden="true"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 11.5L17 16.5L18.5 15L12 8.5L5.5 15L7 16.5L12 11.5Z" fill="currentColor"></path></svg>
            </button>
        </div>
        <div id="cookie-consent__content">
            <div id="cookie-consent__description">
                This website uses required cookies to ensure the basic functionality and performance. In addition, we use targeting cookies to improve the user experience, perform analytics and display personalised content.
            </div>
            <div id="cookie-consent__more-content__container">
                <button type="button" id="cookie-consent__readmore-btn" class="cookie-consent__accordion-btn">
                    <svg class="" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-label="angle-up" aria-hidden="true"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 11.5L17 16.5L18.5 15L12 8.5L5.5 15L7 16.5L12 11.5Z" fill="currentColor"></path></svg>
                    <span>Show cookie settings</span>
                </button>
            </div>
            <div id="cookie-consent__actions">
                <button class="hkm-button hkm-button__filled" type="submit">Accept</button>
                <button class="hkm-button hkm-button__filled" type="submit">Reject</button>
            </div>
        </div>
       
    </div>
</div>