{% load i18n %}

<nav class="navigation">
	<div class="navigation-header">
		<a class="navigation-brand" href="{% url 'hkm_index' %}?search=true">
			<svg class="svg-icon">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-logo-full"></use>
			</svg>
		</a>
	</div>

	<button id="nav-collapse-btn" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-toggle" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

	<div id="navigation-toggle" class="navigation-links collapse navbar-collapse">
		<ul class="nav navbar-nav">
			<span class="nav-search-form__desktop">
				<form action="/search/" id="nav-search" class="form-inline ">
					<input class="nav-search__field" placeholder="{% trans 'Search' %}" type="text" name="search" {% if search_term %} value="{{ search_term }}"{% endif %} />
					<button class="btn btn-primary nav-search__btn" type="submit"><img src="/static/hkm/img/suurennuslasi.png"></img></button>
				</form>
			</span><li class="nav-search-link__mobile"><a href="{% url 'hkm_search' %}">{% trans 'Search' %}</a><li>
			<li class="product-counter">
				{% include 'hkm/snippets/nav_basket_counter.html' %}
			</li>
			<li><a href="{% url 'hkm_public_collections' %}">{% trans 'Explore collections' %}</a></li>
			{% if user.is_authenticated and not user.profile.is_museum %}
					<li><a href="{% url 'hkm_my_collections' %}">{% trans 'My collections' %}</a></li>
			{% endif %}
			{% if not user.profile.is_museum %}
				<li><a href="{% url 'hkm_info' %}">{% trans 'Feedback' %}</a></li>
			{% endif %}
			<li>
					<a href="#" id="language-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans 'Language' %}</a>
					<ul class="dropdown-menu" aria-labelledby="language-dropdown">
						{% if language == 'fi' %}
							<li><a href="{% url 'hkm_language' %}?lang=en&next={{ current_url }}">{% trans 'In English' %}</a> </li>
							<li><a href="{% url 'hkm_language' %}?lang=sv&next={{ current_url }}">{% trans 'På svenska' %}</a></li>
						{% elif language == 'en' %}
							<li><a href="{% url 'hkm_language' %}?lang=fi&next={{ current_url }}">{% trans 'Suomeksi' %}</a> </li>
							<li><a href="{% url 'hkm_language' %}?lang=sv&next={{ current_url }}">{% trans 'På svenska' %}</a></li>
						{% elif language == 'sv' %}
							<li><a href="{% url 'hkm_language' %}?lang=fi&next={{ current_url }}">{% trans 'Suomeksi' %}</a> </li>
							<li><a href="{% url 'hkm_language' %}?lang=en&next={{ current_url }}">{% trans 'In English' %}</a></li>
						{% endif %}
					</ul>
			</li>
			{% if not user.profile.is_museum %}
				{% if user.is_authenticated %}
						<li><a href="{% url 'logout' %}?next=/">{% trans 'Logout' %}</a></li>
				{% else %}
						<li><a href="#" id="login-btn" data-toggle="modal" data-target="#login">{% trans 'Log in' %}</a></li>
				{% endif %}
			{% endif %}
		</ul>
	</div>
</nav>
