{% load i18n %}

<div class="login-modal__body modal-body" id="password-reset-form">
  <h1 class="login-modal__body_title">{% trans 'Forgot your password' %}</h1>
  <p class="login-modal__body_description">{% trans 'Enter email description' %}</p>
  <form method="POST" id="password-reset-email">
    {% csrf_token %}
    {% include 'hkm/snippets/form_fields.html' with form=password_reset_form %}
    <button type="submit" class="hkm-button hkm-button__filled login-modal__body_btn">{% trans 'Submit' %}</button>
  </form>
  <hr class="login-modal__body_hr">
  <a href="#" class="login-modal__body_back-to" id="back-to-login-btn"  data-toggle="modal" data-target="#login">
    <img src="/static/hkm/svg/UI_arrow-left.svg" class="login-modal__body_svg">
    {% trans 'Back to login' %}
  </a>
</div>

<div class="login-modal__body modal-body hidden" id="password-reset-response-success">
  <h1 class="login-modal__body_title">{% trans 'Email sent title' %}</h1>
  <p class="login-modal__body_description">{% trans 'Email sent link' %}</p>
  <p class="login-modal__body_description">{% trans 'Email sent spam' %}</p>
  <button class="hkm-button hkm-button__filled login-modal__body_btn" data-toggle="modal" data-target="#password-reset">{% trans 'Close' %}</button>
</div>

<div class="login-modal__body modal-body hidden" id="password-reset-response-error">
  <h1 class="login-modal__body_title">{% trans 'Password reset error title' %}</h1>
  <p class="login-modal__body_description">{% trans 'Password reset error description %}</p>
  <button class="hkm-button hkm-button__filled login-modal__body_btn" data-toggle="modal" data-target="#password-reset">{% trans 'Close' %}</button>
</div>
