{% load i18n %}

<div class="login-modal__body modal-body" id="password-set-form">
  <h1 class="login-modal__body_title">{% trans 'Changing password' %}</h1>
  <p class="login-modal__body_descriptionn">{% trans 'Password change instructions' %}</p>
  <form method="POST" id="password-set-new">
    {% csrf_token %}
    {% include 'hkm/snippets/form_fields.html' with form=password_set_form %}
    <input type="hidden" name="action" value="password_reset" />
    <button type="submit" class="hkm-button hkm-button__filled login-modal__body_btn">{% trans 'Submit' %}</button>
  </form>
</div>
<div class="login-modal__body modal-body hidden" id="password-set-success">
  <h1 class="login-modal__body_title">{% trans 'Password changing success' %}}</h1>
  <p class="login-modal__body_description">{% trans 'Password changing description' %}</p>
  <button class="hkm-button hkm-button__filled login-modal__body_btn">{% trans 'Close' %}</button>
</div>
<div class="login-modal__body modal-body hidden" id="password-set-error">
  <h1 class="login-modal__body_title">{% trans 'Password reset error title' %}</h1>
  <p class="login-modal__body_descriptionin">{% trans 'Password reset error description' %}</p>
</div>
