<div id="popover-share-content">
  <ul class="popover-list">
    <li class="popover-list__item">
        <div class="popover-list__item--container">
            <img src="/static/hkm/svg/facebook.svg">
            <a class="popover-list__btn share-item share-fb" href="#">Facebook</a>
        </div>
    </li>
    <li class="popover-list__item">
        <div class="popover-list__item--container">
            <img src="/static/hkm/svg/X.svg">
            <a class="popover-list__btn share-item share-tw" href="#">X</a>
        </div>
    </li>
    <!--<li class="popover-list__item">
        <div class="popover-list__item--container">
            <a class="popover-list__btn share-item share-pin" href="#">Pinterest</a>
        </div>
    </li> -->
  </ul>
</div>