{% load hkm_tags %}
<div class="grid__group item-slider invisible">
{% for record in search_result.records %}
  <div class="grid__item item" data-w="" data-h="" name="{{ search_term }}_{{ record.index }}">
    <a href="{% url 'hkm_search_record' %}?search={{ search_term }}{% for facet in author_facets %}&author[]={{ facet }}{% endfor %}{% for facet in date_facets %}&main_date_str[]={{ facet }}{% endfor %}&page={{ record.index }}">
      {% if user.is_authenticated %}
        <div class="grid__fav {% if record.is_favorite %}active{% endif %}" data-record-id="{{ record.id }}">
          <i class="grid__fav-icon">
            <svg class="svg-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-heart-stroke"></use>
            </svg>
          </i>
        </div>
      {% endif %}
      <img class="flex-img" src="{% finna_image record.id w=400 h=400 %}"></img>
    </a>
    <div class="grid__meta">
      <span class="grid__meta--title">{{ record.title }}</span>
      <span class="grid__meta--other">{% for author in record.rawData.author %}{{ author }}{% endfor %} {{ record.rawData.era.0|default:"" }}</span>
      {% if user.is_authenticated %}
        <button class="grid__fav {% if record.is_favorite %}active{% endif %}" data-record-id="{{ record.id }}">
            <i class="grid__fav-icon">
              <svg class="svg-icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-heart-stroke"></use>
              </svg>
            </i>
          </button>
      {% endif %}
    </div>
  </div>
{% endfor %}
</div>
