{% load i18n %}

<div class="extra-filters">
  <div class="date-range">
    <select class="search-input facet-filter" name="date-from" id="date-from"  data-facet-type="date_from">
      <option value="" {% if not from %}selected{% endif %}>Vuodesta</option>
      {% for date in facet_result.facets.main_date_str|dictsort:"translated" %}
      <option value="{{ date.value }}" {% if date.value == date_from %}selected{% endif %}>
        {{ date.translated }}
      </option>
      {% endfor %}
    </select>

    <div class="dash">
      <span class="bar"></span>
    </div>

    <select class="search-input facet-filter" name="date-to" id="date-to"  data-facet-type="date_to">
      <option value="" {% if not date_to %}selected{% endif %}>Vuoteen</option>
      {% for date in facet_result.facets.main_date_str|dictsort:"translated" %}
      <option value="{{ date.value }}" {% if date.value == date_to %}selected{% endif %}>
        {{ date.translated }}
      </option>
      {% endfor %}
    </select>
  </div>

  <div class="author-year">
    <select class="search-input facet-filter" name="date" id="date"  data-facet-type="date">
      <option value="" selected>Tietty vuosi</option>
      {% for date in facet_result.facets.main_date_str|dictsort:"translated" %}
      <option value="{{ date.value }}">
        {{ date.translated }}
      </option>
      {% endfor %}
    </select>

    <select class="search-input facet-filter" name="author" id="author" data-facet-type="author">
      <option value="" selected>Valokuvaaja</option>
      {% for author in facet_result.facets.author_facet|dictsort:"translated" %}
      <option value="{{ author.value }}">
        {{ author.translated }}
      </option>
      {% endfor %}
    </select>
  </div>
</div>
