{% extends 'hkm/base_browse.html' %}
{% load i18n %}

{% block banner %}

  <div class="page-header">
    <div class="fullsize-container container">
      <div class="banner__title">
        <h1 class="banner__h1 centered-fullwidth">{% trans 'Feedback' %}</h1>
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}

  <div class="container-small container">

    <form id="feedback-form" method="POST">
      {% csrf_token %}
      {% include 'hkm/snippets/form_fields.html' with form=feedback_form %}
      <input type="hidden" name="action" value="feedback" />
      <p class="feedback-message success hidden" id="fb-success">{% trans 'Feedback success' %}</p>
      <p class="feedback-message error hidden" id="fb-error">{% trans 'Feedback error' %}</p>
      <button class="hkm-btn hkm-btn--default btn btn-primary" type="submit">{% trans 'Submit' %}</button>
    </form>

  </div>

{% endblock %}
