<!-- maybe replace these styles with Bootstrap Breadcrumbs -->
{% load i18n hkm_tags %}
<div class="order-steps">
			<table class="order-steps-table">
			<tr>
			<td>
		  <span class="order-step {% if form_page == 1 %} order-step-current {% endif %}">
			  <a href={% if request.basket.lines > 0 %}"{% url 'basket' %}"{% else %} "#" {% endif %}>1. {% trans 'Product selection' %}</a></span>
		  </td>
		  <td>
		  <span class="order-step {% if form_page == 2 %} order-step-current {% endif %}">
		  {% if order.form_phase >= 2 %}
		  	<a href="{% url 'hkm_order_contact' %}">2. {% trans 'Contact details' %}</a>
		  {% else %}
		  	2. {% trans 'Contact details' %}
		  {% endif %}
		  </span>
		  </td>
		  <td>
		  <span class="order-step {% if form_page == 3 %} order-step-current {% endif %}">
		  {% if order.form_phase >= 3 %}
		  <a href="{% url 'hkm_order_summary' %}">3. {% trans 'Summary' %}</a>
		  {% else %}
		  	3. {% trans 'Summary' %}
		  {% endif %}
		  </span>
		  </td>
		  </tr>
		  </table>
</div>
