{% extends 'hkm/base_browse.html' %}
{% load i18n %}
{% load hkm_tags %}

{% block banner %}

  <div class="page-header">
    <div class="fullsize-container container">
    <div class="public-collections-padding">
      <div class="banner__title">
       <!-- <h1 class="banner__h1">{% trans 'Featured collections' %}</h1> -->
      </div>
      <div class="grid flex-images">
        <div class="grid__group item-slider invisible" data-grid-type="collection">
          {% for collection in featured_collections %}
            <div class="grid__item grid__item--featured item" data-w="550" data-h="400">
              <a href="{% url 'hkm_collection' collection_id=collection.id %}">
                {% with images=collection|display_images %}
                  {% if images|length == 1 %}
                    <span class="grid__item grid__item--collection" style="background-image:url('{{ images.0 }}')"></span>
                  {% else %}
                    <span class="sub-grid">
                      {% for image_url in images %}
                        <span class="sub-grid__item" style="background-image:url('{{ image_url }}')">
                        </span>
                      {% endfor %}
                    </span>
                  {% endif %}
                {% endwith %}
                <div class="grid__meta">
                  <span class="grid__meta--title">{{ collection.title }}</span>
                  <span class="grid__meta--other">{{ collection.description }}</span>
                </div>
                <span class="hkm-created-icon" />
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    </div>
  </div>

{% endblock %}

{% block content %}

  <div class="fullsize-container container">

    <div class="collection-grid grid flex-images">
      <div class="grid__group item-slider invisible">
        {% for collection in collections %}
          {% if collection.records.all %}
            <div class="grid__item item" data-w="550" data-h="400">
              <a href="{% url 'hkm_collection' collection_id=collection.id %}">
                {% with images=collection|display_images %}
                  {% if images|length == 1 %}
                    <div class="grid__item grid__item--collection" style="background-image:url('{{ images.0 }}')"></div>
                  {% else %}
                    <div class="sub-grid">
                      {% for image_url in images %}
                        <div class="sub-grid__item" style="background-image:url('{{ image_url }}')"></div>
                      {% endfor %}
                    </div>
                  {% endif %}
                {% endwith %}
                <div class="grid__meta">
                  <span class="grid__meta--title">{{ collection.title }}</span>
                  <span class="grid__meta--other">{{ collection.description }}</span>
                </div>
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>

  </div> <!-- Container -->

{% endblock %}
