{% extends 'hkm/base_browse.html' %}
{% load i18n %}
{% load hkm_tags %}

{% block page_title %}
  <title>{% trans 'Search pictures' %} {% if search_term %}{% trans 'With word' %} {{ search_term }}{% endif %}</title>
{% endblock %}

{% block banner %}

  <div class="page-header bittersweet">
    <div class="fullsize-container">
      <div class="banner__title">
        {% if search_term %}
        <h1 class="banner__h1">{{ search_result.resultCount }} {% trans 'Records' %}</h1>
        {% else %}
        <h1 class="banner__h1">{% trans 'Search pictures' %}</h1>
        {% endif %}
      </div>
      <form class="search-form" id="search-form">
        <p class="form-text-info">{% trans 'Search info' %}</p>
        <input class="search-input" placeholder="{% trans 'Search input' %}" type="text" name="search" {% if search_term %} value="{{ search_term }}"{% endif %} />

        <div class="date-range">
          <select class="search-input" name="date_from" id="date_from">
            <option value="" {% if not date_from %}selected{% endif %}>{% trans 'From year' %}</option>
            {% for date in all_dates|dictsort:"translated" %}
            <option value="{{ date.value }}" {% if date.value == date_from %}selected{% endif %}>
              {{ date.translated }}
            </option>
            {% endfor %}
          </select>

          <div class="dash">
            <span class="bar"></span>
          </div>

          <select class="search-input" name="date_to" id="date_to">
            <option value="" {% if not date_to %}selected{% endif %}>{% trans 'To year' %}</option>
            {% for date in all_dates|dictsort:"translated" %}
            <option value="{{ date.value }}" {% if date.value == date_to %}selected{% endif %}>
              {{ date.translated }}
            </option>
            {% endfor %}
          </select>
        </div>

        <button aria-label="{% trans 'Search' %}" class="hkm-button hkm-button__filled search-submit" type="submit">
          <img src="/static/hkm/svg/Search_white.svg" alt="" aria-hidden="true"/>
          {% trans 'Find' %}
        </button>

        <p class="form-text-filter">{% trans 'Narrow results' %}</p>


          <select class="search-input facet-filter select-year" name="date" id="date"  data-facet-type="date">
            <option value="" selected>{% trans 'Specific year' %}</option>
            {% for date in facet_result.facets.main_date_str|dictsort:"translated" %}
            <option value="{{ date.value }}">
              {{ date.translated }}
            </option>
            {% endfor %}
          </select>

          <select class="search-input facet-filter select-photographer" name="author" id="author" data-facet-type="author">
            <option value="" selected>{% trans 'Specific photographer' %}</option>
            {% for author in facet_result.facets.author_facet|dictsort:"translated" %}
            <option value="{{ author.value }}">
              {{ author.translated }}
            </option>
            {% endfor %}
          </select>

      </form>

      <div class="keyword-wrapper">
        {% with keywords=url_params|search_keywords %}
          {% for keyword in keywords %}
            <div class="keyword">
              {{ keyword.value }}
              <a href="#" class="search-filter__delete" data-facet-value="{{ keyword.value }}" data-facet-type="{{ keyword.facet_type }}">
                <svg class="keyword-icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
                </svg>
              </a>
          </div>
          {% endfor %}
        {% endwith %}
      </div>
    </div>
   </div>

{% endblock %}

{% block content %}

  <div class="fullsize-container">

    {% if search_result.records %}


    <div class="grid flex-images infinite-scroll" data-pages="{{ search_result.pages }}">
      {% include 'hkm/snippets/search_records_grid.html' %}
    </div>
    <button id="btn-load-more" class="hkm-button hkm-button__filled search-load-more" data-current-page="{{ current_page }}">{% trans 'Load more' %}</button>


    {% else %}

      {% include 'hkm/snippets/no_results.html' %}

    {% endif %}

  </div> <!-- fullsize-container -->

{% endblock %}

{% block footer %}{% endblock %}

{% block extra_js %}
    {# Gives access to translated "no more results" text in js code #}
    <script>
        window.NO_MORE_SEARCH_RESULTS_TEXT = "{% trans 'No more results' %}";
    </script>
{% endblock %}
