{% extends 'hkm/base_viewer.html' %}
{% load hkm_tags %}
{% load i18n %}

{% block viewer_arrows %}


  {% if record|previous_image:search_result.records %}
    <a href="{% url 'hkm_search_record' %}?image_id={{ record|previous_image:search_result.records }}" class="image-viewer-arrow arrow-left"><img src="/static/hkm/img/arrow_left.png"></img></a>
  {% endif %}
  {% if record|next_image:search_result.records %}
    <a href="{% url 'hkm_search_record' %}?image_id={{ record|next_image:search_result.records }}" class="image-viewer-arrow arrow-right"><img src="/static/hkm/img/arrow_right.png"></img></a>
  {% endif %}

{% endblock %}

{% block content %}

  {% if record %}
    <div class="back-to">
      <span class="back-to__title">{{ record.title }}</span><br>
      <span>{% trans 'Search' %}: {{ search_term }} ({{ record.index }}/{{search_result.resultCount}})</span><br>
      <a href="{% url 'hkm_search' %}?search={{search_term}}&page={{ search_result_page }}">
        <i class="back-to__icon">
          <svg class="svg-icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-left"></use>
          </svg>
        </i>
        <span class="back-to__text">{% trans 'Back to search' %}</span>
      </a>
    </div>

    <div title="{% trans 'Left and right click to zoom.' %}" class="image-viewer">
      <div id="zoomable-image-container" class="image-viewer__container">
        <img id="zoomable-image" class="image-viewer__image" data-full-res-url="{{ record.full_res_url }}" src="{% finna_image record.id %}"></img>
      </div>
    </div>
  {% else %}
    {% include 'hkm/snippets/not_responding.html' %}
  {% endif %}
{% endblock %}
  
  {% block hidden %}
    {% if record %}
      {% include 'hkm/snippets/popover_cart.html' with full_res_image_url=record.full_res_url web_image_url=record.id|finna_default_image_url finna_id=record.id cropped_web_image_url=record_web_url finna_id=record.id%}
      {% include 'hkm/snippets/popover_info.html' with record_year=record.year record_measures=record.rawData.measurements record_geo=record.rawData.geographic record_description=record.rawData.description record_authors=record.rawData.author record_title=record.title finna_id=record.id %}
      {% include 'hkm/snippets/popover_share.html' with finna_id=record.id %}
      {% include 'hkm/snippets/popover_add.html' with finna_id=record.id full_res_image_url=record.full_res_url web_image_url=record.id|finna_default_image_url %}
    {% endif %}
  {% endblock %}
{% block extra_js %}
  <script>
    localStorage.setItem("last_record_browsed", "{{ search_term }}_{{ record.index }}");
  </script>
{% endblock %}
