{% extends 'hkm/base.html' %}
{% load hkm_tags %}
{% load i18n %}

{% block nav_class %}nav_viewer{% endblock %}

{% block main_content %}

  {% block viewer_arrows %}{% endblock %}

  {% block content %}{% endblock %}

  <div class="hidden">
    {% block hidden %}{% endblock %}
  </div>

  {% block actions %}

    <div class="actions actions_left">
      <button class="actions__btn"><img src="/static/hkm/img/zoom_in.png"></img></button>
      <button class="actions__btn"><img src="/static/hkm/img/zoom_out.png"></img></button>
    </div>
    <div class="actions actions_right">
      <button class="actions__btn" id="popover-cart">
        <img src="/static/hkm/img/karry.png"></img>
      </button>
      <button class="actions__btn" id="popover-info" title="Image name">
        <img src="/static/hkm/img/info.png"></img>
      </button>
      <button class="actions__btn"><img src="/static/hkm/img/share.png"></img></button>
      {% if user.is_authenticated %}
        <button class="actions__btn" id="popover-add"><img src="/static/hkm/img/h_sydan_valk.png"></img></button>
      {% endif %}
    </div>

  {% endblock %}

  {% block modals %}

    <div class="my-modal base-modal--crop modal fade" id="crop-image" tabindex="-1" role="dialog">
      <div class="my-modal__dialog my-modal__dialog--crop-lg modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{% trans 'Crop and download' %}</h4>
          </div>
          <div class="modal-body">
            <img id="highres-image" src=""></img>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
            <button type="submit" value="add-to-collection" class="btn btn-primary">{% trans 'Submit' %}</button>
          </div>
        </div>
      </div>
    </div>

    {% if user.is_authenticated %}
      <form class="modal fade" id="add-to-collection" method="POST" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">{% trans 'Add to a new collection' %}</h4>
            </div>
            <div class="modal-body">
              {% csrf_token %}
              <input type="hidden" name="action" value="add-to-collection" />
              <input type="hidden" name="record_id" value="{{ record.id }}" />
              <input class="form-control" type="text" name="new_collection_name" value="{% trans 'Uusi kokoelma' %}"></input>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" type="button" data-dismiss="modal">{% trans 'Close' %}</button>
              <button class="btn btn-primary" type="submit" value="add-to-collection">{% trans 'Submit' %}</button>
            </div>
          </div>
        </div>
      </form>
    {% endif %}

    <!-- data-toggle="modal" data-target="#modal-search" -->
    <div class="modal-search modal fade" id="modal-search" tabindex="-1" role="dialog">
      <div class="modal-search__dialog modal-dialog" role="document">
        <div class="modal-search__content modal-content">
          <div class="modal-search__body modal-search__body--top modal-body">
            <div class="container">
              <form class="search-form form-group" action="{% url 'hkm_search' %}">
                <div class="search-form__content input-group">
                  <input class="search-form__field form-control" type="text" name="search" {% if search_term %} value="{{ search_term }}"{% endif %} />
                  <span class="search-form__btn-container input-group-btn">
                    <button class="search-form__btn btn btn-default" type="submit"><img src="/static/hkm/img/suurennuslasi.png"></img></button>
                  </span>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-search__body modal-search__body--bottom modal-body">
            <div class="container">
              <h1 class="explore__h1"><a href="{% url 'hkm_public_collections' %}">{% trans 'Explore' %}</a></h1>
            </div>
          </div>
        </div>
      </div>
    </div>

  {% endblock %}

{% endblock %}
