{% load i18n %}
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/static/hkm/css/main.css" />
    <script src="/static/hkm/js/jquery-3.1.1.js"></script>
    <script src="/static/hkm/js/velocity.js"></script>
    <script src="/static/hkm/js/hammer.js"></script>
    <script src="/static/hkm/js/bootstrap.js"></script>
    <script src="/static/hkm/js/bootstrap/collapse.js"></script>
    <script src="/static/hkm/js/palikka.js"></script>
</head>
<body class="image-view">

  <script src="/static/hkm/js/muuri.js"></script>
  <script src="/static/hkm/js/hkm.js"></script>

  <nav class="nav {% block nav_class %}{% endblock %}">
    <div class="logo">
      <a class="logo-link" href="{% url 'hkm_index' %}">
        <img class="logo-img" src="/static/hkm/img/h_sydan_valk.png"></img>
        <div class="logo-text">{% trans 'KUVASELAAMO' %}</div>
      </a>
    </div>
    <div class="menu">
      <ul>
        <li class="menu-item"><a href="{% url 'hkm_search' %}">{% trans 'Haku' %}</a></li>
        {% if language == 'fi' %}
          <li class="menu-item"><a href="{% url 'hkm_language' %}?lang=en&next={{ current_url }}">{% trans 'In English' %}</a> | <a href="{% url 'hkm_language' %}?lang=sv&next={{ current_url }}">{% trans 'På svenska' %}</a></li>
        {% elif language == 'en' %}
          <li class="menu-item"><a href="{% url 'hkm_language' %}?lang=fi&next={{ current_url }}">{% trans 'Suomeksi' %}</a> | <a href="{% url 'hkm_language' %}?lang=sv&next={{ current_url }}">{% trans 'På svenska' %}</a></li>
        {% elif language == 'sv' %}
          <li class="menu-item"><a href="{% url 'hkm_language' %}?lang=fi&next={{ current_url }}">{% trans 'Suomeksi' %}</a> | <a href="{% url 'hkm_language' %}?lang=en&next={{ current_url }}">{% trans 'In English' %}</a></li>
        {% endif %}
        <li class="menu-item"><a href="{% url 'hkm_info' %}">{% trans 'Tiedot' %}</a></li>
        <li class="menu-item"><a href="{% url 'login' %}?next={{ current_url }}">{% trans 'Kirjaudu sisään' %}</a></li>
      </ul>
    </div>
  </nav>

  {% block main_content %}{% endblock %}

</body>
</html>
