{% extends 'hkm/base.html' %}
{% load hkm_tags %}
{% load i18n %}

{% block body_class %}viewer-view{% endblock %}
{% block nav_class %}nav_viewer{% endblock %}

{% block main_content %}

  {% block viewer_arrows %}{% endblock %}

  {% block content %}{% endblock %}

  <div class="hidden">
    {% block hidden %}{% endblock %}
  </div>

  {% block actions %}
    {% if record %}
      <div class="actions">
        <button class="actions__btn actions__btn--left" id="zoom-in-btn">
          <i class="actions__icon">
            <svg class="svg-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-zoom-in"></use>
            </svg>
          </i>
        </button>
        <button class="actions__btn actions__btn--left" id="zoom-out-btn">
          <i class="actions__icon">
            <svg class="svg-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-zoom-out"></use>
            </svg>
          </i>
        </button>
        {% if user.is_authenticated %}
          <button class="actions__btn actions__btn--right" id="popover-add">
            <i class="actions__icon">
              <svg class="svg-icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-logo"></use>
              </svg>
            </i>
          </button>
        {% endif %}
        <button class="actions__btn actions__btn--right" id="popover-share">
          <i class="actions__icon">
            <svg class="svg-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-share"></use>
            </svg>
          </i>
        </button>
        <button class="actions__btn actions__btn--right" id="popover-info">
          <i class="actions__icon">
            <svg class="svg-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-info"></use>
            </svg>
          </i>
        </button>
        <button class="actions__btn actions__btn--right" id="popover-cart">
          <i class="actions__icon">
            <svg class="svg-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-shopping"></use>
            </svg>
          </i>
        </button>
      </div>
    {% endif %}
  {% endblock %}

  {% block modals %}

    <div class="my-modal my-modal--crop modal fade" id="crop-and-order" tabindex="-1" role="dialog">
      <div class="my-modal__dialog my-modal__dialog--crop-lg modal-dialog modal-lg" role="document">
        <div class="my-modal__content modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{% trans 'Crop and order' %}</h4>
          </div>
          <div class="my-modal__body modal-body row">
            <div class="col-md-4">
              <div class="image-templates docs-toggles" data-toggle="buttons">
                <button class="image-templates__template btn btn-primary">
                  <input type="radio" class="sr-only" id="aspectRatio3" name="aspectRatio" value="0.6666666666666666">
                  <span class="docs-tooltip" data-toggle="tooltip" title="aspectRatio: 2 / 3">
                    A4 (2:3)
                  </span>
                </button>
                <button class="image-templates__template btn btn-primary">
                  <input type="radio" class="sr-only" id="aspectRatio3" name="aspectRatio" value="1.5">
                  <span class="docs-tooltip" data-toggle="tooltip" title="aspectRatio: 3 / 2">
                    A4 (3:2)
                  </span>
                </button>
              </div>
            </div>
            <div class="col-md-8">
              <div class="crop__container">
                <img class="crop__image"></img>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="hkm-btn hkm-btn--cancel btn btn-default" type="button" data-dismiss="modal">{% trans 'Close' %}</button>
            <button class="hkm-btn hkm-btn--default crop__submit btn btn-primary" id="submit-crop" type="button" value="order">{% trans 'Submit' %}</button>
          </div>
        </div>
      </div>
    </div>

    <div class="my-modal my-modal--crop modal fade" id="crop-and-download" tabindex="-1" role="dialog">
      <div class="my-modal__dialog my-modal__dialog--crop-lg modal-dialog modal-lg" role="document">
        <div class="my-modal__content modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{% trans 'Crop and download' %}</h4>
          </div>
          <div class="my-modal__body modal-body row">
            <div class="col-md-12">
              <div class="crop__container">
                <img class="crop__image"></img>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="hkm-btn hkm-btn--cancel btn btn-default" type="button" data-dismiss="modal">{% trans 'Close' %}</button>
            <button class="hkm-btn hkm-btn--default crop__submit btn btn-primary" id="submit-crop" type="button" value="download">{% trans 'Download' %}</button>
          </div>
        </div>
      </div>
    </div>

    <div class="my-modal my-modal--crop modal fade" id="crop-and-add" tabindex="-1" role="dialog">
      <div class="my-modal__dialog my-modal__dialog--crop-lg modal-dialog modal-lg" role="document">
        <div class="my-modal__content modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{% trans 'Crop and add to collection' %}</h4>
          </div>
          <div class="my-modal__body modal-body row">
            <div class="col-md-4">
              <div class="crop-settings crop-settings--select-collection">
                <h5 class="crop-settings__title">{% trans 'Add to an existing collection' %}</h5>
                {% for collection in my_collections %}
                  <div class="crop-settings__existing-collection radio radio-info">
                    <input type="radio" name="collection" data-action="add" value="{{ collection.id }}">
                    <label>{{ collection }}</label>
                  </div>
                {% endfor %}
                <h5 class="crop-settings__title">{% trans 'Create a new collection' %}</h5>
                <div class="crop-settings__collection input-group">
                  <span class="input-group-addon">
                    <input type="radio" checked="checked" name="collection" data-action="add-create-collection">
                  </span>
                  <input type="text" class="form-control" id="add-collection-input" value="{% trans 'New collection' %}">
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="crop__container">
                <img class="crop__image"></img>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="hkm-btn hkm-btn--cancel btn btn-default" type="button" data-dismiss="modal">{% trans 'Close' %}</button>
            <button class="hkm-btn hkm-btn--default crop__submit btn btn-primary" type="button" id="crop-add-submit" value="add">{% trans 'Add to collection' %}</button>
          </div>
        </div>
      </div>
    </div>

  {% endblock %}

{% endblock %}
