{% load compress %}
{% load i18n %}

<html>
<head>

  <!-- Character encoding. Use utf-8. -->
  <meta charset="utf-8">

  <!--
    IE browser mode.
    http://stackoverflow.com/questions/6771258/whats-the-difference-if-meta-http-equiv-x-ua-compatible-content-ie-edge-e.
  -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!--
    Control the device's viewport handling.
    https://developer.mozilla.org/en/docs/Mozilla/Mobile/Viewport_meta_tag
  -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Page title & description (important for SEO). -->
  <title>{% trans 'Kuvaselaamo' %}</title>
  <meta name="description" content="{% trans 'Kuvaselaamo demo.' %}">

  <!-- Disable site from search engines -->
  <meta name="robots" content="noindex">

  <!-- Window Phone - Better font rendering with cleartpye activated. -->
  <!--[if IEMobile]><meta http-equiv="cleartype" content="on" /><![endif]-->

  <!-- Windows Phone - Tile icon & background color. -->
  <meta name="msapplication-TileImage" content="wp-app-icon-144.png">
  <meta name="msapplication-TileColor" content="#000000">

  <!-- Windows Phone - Turn off tap highlight on windows 8 IE. -->
  <meta name="msapplication-tap-highlight" content="no">

  <!--
    Format detection for mobile devices.
    https://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html#//apple_ref/doc/uid/TP40008193-SW5
  -->
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="email=no">

  <!-- iOS web app: makes the web page run in full screen mode when launched from the home screen icon. -->
  <meta name="apple-mobile-web-app-capable" content="yes">

  <!-- iOS web app: styles the bar at the top of the browser. -->
  <meta name="apple-mobile-web-app-status-bar-style" content="default">

  <!-- iOS web app: Specifies a splash image to use when the page is loading. -->
  <link rel="apple-touch-startup-image" href="ios-splash.png">

  <!-- iOS web app: icons. -->
  <link rel="apple-touch-icon-precomposed" href="ios-app-icon-57.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ios-app-icon-72.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ios-app-icon-114.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ios-app-icon-144.png">

  <!-- Favicon, optionally place favicon.ico in the root of website. -->
  <link rel="shortcut icon" href="/static/favicon.ico">

  {% block css %}
    <link rel="stylesheet" type="text/css" href="/static/hkm/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/hkm/css/cropper.css" />
    <link rel="stylesheet" type="text/css" href="/static/hkm/css/leaflet.css" />
  {% endblock %}


</head>
<body class="{% block body_class %}{% endblock %}">

  {% include 'hkm/snippets/svg_icons.html' %}

  <nav class="navbar {% block nav_class %}{% endblock %}">
    <div class="navbar-header">
      <button id="nav-collapse-btn" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'hkm_index' %}?search=true">
        <div class="brand-img"></div>
        <div class="brand-text">{% trans 'KUVASELAAMO' %}</div>
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <!-- <li><a href="{% url 'hkm_index' %}?search=true{% if record.collection.show_in_landing_page %}&rid={{ record.id }}{% endif %}">{% trans 'Search' %}</a></li> -->
        <li><a href="{% url 'hkm_search' %}">{% trans 'Search' %}</a></li>
        {% if language == 'fi' %}
          <li><a href="{% url 'hkm_language' %}?lang=en&next={{ current_url }}">{% trans 'In English' %}</a> | <a href="{% url 'hkm_language' %}?lang=sv&next={{ current_url }}">{% trans 'På svenska' %}</a></li>
        {% elif language == 'en' %}
          <li><a href="{% url 'hkm_language' %}?lang=fi&next={{ current_url }}">{% trans 'Suomeksi' %}</a> | <a href="{% url 'hkm_language' %}?lang=sv&next={{ current_url }}">{% trans 'På svenska' %}</a></li>
        {% elif language == 'sv' %}
          <li><a href="{% url 'hkm_language' %}?lang=fi&next={{ current_url }}">{% trans 'Suomeksi' %}</a> | <a href="{% url 'hkm_language' %}?lang=en&next={{ current_url }}">{% trans 'In English' %}</a></li>
        {% endif %}
        <li><a href="{% url 'hkm_info' %}">{% trans 'Feedback' %}</a></li>
        {% if user.is_authenticated %}
          <li>
            <a href="#" id="account-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans 'Account' %}</a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="account-dropdown">
              <li><a href="{% url 'hkm_my_collections' %}">{% trans 'My Kuvaselaamo' %}</a></li>
              <li><a href="{% url 'logout' %}?next=/">{% trans 'Logout' %}</a></li>
            </ul>
          </li>
        {% else %}
          <li><a href="#" id="login-btn" data-toggle="modal" data-target="#login">{% trans 'Log in' %}</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <div class="login-modal modal fade {% if login_form.errors %}error{% endif %}" id="login" tabindex="-1" role="dialog">
    <div class="login-modal__dialog modal-dialog modal-sm" role="document">
      <div class="login-modal__content modal-content">
        <div class="login-modal__body modal-body">
          <button class="hkm-btn hkm-btn--default login-modal__btn btn btn-default">{% trans 'Facebook login' %}</button>
          <button class="hkm-btn hkm-btn--default login-modal__btn btn btn-default">{% trans 'Google login' %}</button>
          <h4>{% trans 'Login with credentials' %}</h4>
          {% include 'hkm/snippets/login.html' %}
          <a href="#" id="signup-btn" class="login-modal__signup-link" data-toggle="modal" data-target="#sign-up">{% trans 'Sign up' %}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="login-modal modal fade {% if sign_up_form.errors %}error{% endif %}" id="sign-up" tabindex="-1" role="dialog">
    <div class="login-modal__dialog modal-dialog modal-sm" role="document">
      <div class="login-modal__content modal-content">
        <div class="login-modal__body modal-body">
          <h4>{% trans 'Sign up' %}</h4>
          {% include 'hkm/snippets/signup.html' %}
        </div>
      </div>
    </div>
  </div>

  {% block main_content %}{% endblock %}

  {% block js %}
    <script src="/static/hkm/js/jquery.js"></script>
    <script src="/static/hkm/js/jquery.csrf.js"></script>
    <script src="/static/hkm/js/velocity.js"></script>
    <script src="/static/hkm/js/hammer.js"></script>
    <script src="/static/hkm/js/bootstrap.js"></script>
    <script src="/static/hkm/js/bootstrap/collapse.js"></script>
    <script src="/static/hkm/js/palikka.js"></script>
    <script src="/static/hkm/js/images-loaded.js"></script>
    <script src="/static/hkm/js/flex-images.js"></script>
    <script src="/static/hkm/js/cropper.js"></script>
    <script src="/static/hkm/js/leaflet.js"></script>
    <script src="/static/hkm/js/clipboard.js"></script>
    <script src="/static/hkm/js/hkm.js"></script>
  {% endblock %}

</body>
</html>
