.basket-page {
    background-color: transparentize($color-hkm-blue, 0.95);
}

a.btn-delete-row {
    position: absolute;
    left: -19px;
    top: 50%;
    transform: translateY(-50%);
    background-color: $color-hkm-orange;
    padding: 14px 8px;
    border-radius: 30px;
    border: 4px solid $color-white;

    span {
        &::before {
            content: "";
            width: 14px;
            height: 2px;
            background-color: $color-white;
            display: inline-block;
        }
    }
}

.basket-row {
    position: relative;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 50% 10% 10%;
    height: 410px;
    background-color: $color-white;
    margin-bottom: 15px;

    @media(min-width: 450px) {
        height: 300px;
        grid-template-columns: 175px auto;
        grid-template-rows: 30% 25% 25%;
    }

    @media(min-width: 850px) {
        height: 200px;
        grid-template-columns: 175px 43% 43%;
        grid-column-gap: 2%;
        grid-template-rows: 50% 50%;
    }

    @media(min-width: 1050px) {
        grid-template-columns: 175px 46% 17% 15%;
        grid-template-rows: 1fr;
        grid-column-gap: 2%;
    }
}

.basket-thumbnail {
    grid-row-start: 2;

    &_figure {
        height: 125px;
    }

    figcaption {
        margin-top: 5px;
        color: transparentize($color-darktext, 0.5);
    }

    @media(min-width: 450px) {
        grid-row-start: 2;
        grid-row-end: span 3;
    }

    @media(min-width: 850px) {
        grid-row-start: 1;
        grid-row-end: span 2;
        grid-column-start: 1;
    }

    @media(min-width: 1050px) {
        grid-column-start: 1;
        grid-row-start: 1;
    }
}
.basket-title {
    margin: 0;
    font-size: 18px;
    grid-row-start: 1;
    color: $color-hkm-green;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;

    @media(min-width: 450px) {
        grid-column-start: 1;
        grid-column-end: span 2;
    }

    @media(min-width: 850px) {
        grid-row-start: 1;
        grid-row-end: span 2;
        grid-column-start: 2;
        grid-column-end: 2;
    }

    @media(min-width: 1050px) {
        grid-column-start: 2;
        grid-row-start: 1;
        font-size: 24px;
    }
}

.basket-quantity {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 2;

    &_value {
        margin: 0;
    }

    @media(min-width: 450px) {
        grid-column-start: 2;
        grid-row-start: 2;
        justify-content: center;
    }

    @media(min-width: 850px) {
        grid-row-start: 1;
        grid-column-start: 3;
        grid-column-end: 3;
    }

    @media(min-width: 1050px) {
        grid-column-start: 3;
        grid-row-start: 1;
    }
}

.btn-down,
.btn-up {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
}

.btn-down {
    margin-right: 15px;
}

.btn-up {
    transform: rotateX(180deg);
    margin: 0 15px;
}

.basket-price {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;

    @media(min-width: 450px) {
        grid-column-start: 2;
        grid-row-start: 3;
        justify-content: center;
        align-items: flex-start;
    }

    @media(min-width: 850px) {
        grid-row-start: 2;
        grid-column-start: 3;
    }

    @media(min-width: 1050px) {
        grid-column-start: 4;
        align-items: center;
        grid-row-start: 1;
    }
}

.basket-footer {
    &-row {
        margin: 15px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5em 3em;
        border-bottom: 1px solid transparentize($color-hkm-blue, 0.95);
        position: relative;
        flex-direction: column;
        background-color: transparentize($color-hkm-orange, 0.85);

        @media(min-width: 450px) {
            flex-direction: row;
        }
    }

    &-input-wrapper {
        width: 100%;

        label,
        input {
            width: 100%;
        }

        @media(min-width: 450px) {
            width: 155px;
        }
    }

    &-button {
        width: 100%;
        margin-top: 10px;

        @media(min-width: 450px) {
            width: 90px;
            margin-top: 0;
        }
    }
}

.btn-normal-green {
    background-color: transparentize($color-hkm-green, 0.9);
    color: $color-hkm-green;
    margin-bottom: 10px;

    &:hover {
        background-color: transparentize($color-hkm-green, 0.8);
        color: transparentize($color-hkm-green, 0.2);
    }
}
