.navigation {
    height: 60px;
    background-color: $color-white;
    display: block;
    font-size: 16px;
}

.navigation-header {
    margin-right: auto;
    margin-left: 15px;
    float: left;
}

a.navigation-brand {
    display: block;
    max-width: 134px;
}

button.navbar-toggle {
    margin-top: 13px;

    span {
        background-color: $color-hkm-purple;
        transition: all 0.15s ease;
        
        &:nth-child(2) {
            transform: rotate(40deg);
            transform-origin: left;
            width: 20px;
        }

        &:nth-child(3) {
            width: 0;
        }

        &:nth-child(4) {
            transform: rotate(-40deg);
            transform-origin: left;
            width: 20px;
        }
    }

    &.collapsed {
        span {
            &:nth-child(2) {
                transform: rotate(0);
            }

            &:nth-child(3) {
                width: 100%;
            }

            &:nth-child(4) {
                transform: rotate(0);
            }
        }
    }
}

.navigation-links {
    float: right;

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;

        li {
            list-style: none;
            display: inline-block;
            position: relative;

            a {
                display: block;
                margin: 7px;
                font-family: $font-brownbold;
                color: #000;

                &:hover,
                &:focus {
                    background-color: transparent !important;
                }
            }

            > .dropdown-menu {
                display: none;
            }

            &.open {
                > .dropdown-menu {
                    display: block;
                }
            }
        }

        &.dropdown-menu {
            background-color: $color-white;
            left: 50%;
            transform: translateX(-50%);
            top: 59px;
            border-radius: 0;

            li {
                text-align: center;
                display: block;

                a {
                    color: #000;
                    margin: 0;
                    padding: 1.2em !important;

                    &:hover {
                        background-color: transparent;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    @media (max-width: 900px) {
        position: absolute;
        background-color: $color-white;
        top: 60px;
        width: 100%;
        z-index: 150;

        ul {
            width: 100%;
            text-align: center;
            flex-direction: column;

            li {
                display: block;

                a {
                    color: #000;
                    display: block;
                }

                &.open {
                    .dropdown-menu {
                        background-color: $color-white;
                        position: static;
                        left: 0;
                        top: 0;
                        transform: translateX(0);
                        width: auto;
                        border: none;
                        box-shadow: none;
                        z-index: 200;
                        float: none;
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

.lang {
    color: #5268C2 !important;
}

.nav-user {
    position: relative;
}

.nav-svg {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 11px;
    right: -14px;

    @media (max-width: 900px) {
        top: 7px;
    }
}

.cart {
    &_wrapper {
        display: flex;
        flex-direction: row;
        width: 70px;
        justify-content: center;
        position: relative;
    }

    &_svg {
        width: 23px;
        height: 23px;
        position: absolute;
        top: -13px;

        @media (max-width: 900px) {
            margin-left: 15px;
            top: -10px;
            right: -15px;
        }
    }

    &_text {
        @media (min-width: 900px) {
            visibility: hidden;
            width: 0;
            height: 0;
        }

        @media (max-width: 900px) {
            position: absolute;
            top: -8px;
            left: -20px;
        }
    }

    &_counter {
        background-color: #01C97E;
        color: $color-white;
        padding: 1px 9px;
        border-radius: 50%;
        font-size: 10px;
        position: absolute;
        top: -11px;
        right: -3px;

        @media (max-width: 900px) {
            right: -45px;
            top: -9px;
        }
    }
}

.list-item {
    &_lang-wrapper {
        width: 140px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        order: 1;
    }

    &_search {
        order: 2;
    }

    &_collection {
        order: 3;
    }

    &_user,
    &_login {
        order: 4;
    }

    &_cart {
        order: 5;
    }

    @media (max-width: 900px) {
        &_lang-wrapper {
            order: 5;
            margin: 0 auto;
        }

        &_search {
            order: 1;
        }

        &_collection {
            order: 2;
        }

        &_user,
        &_login {
            order: 3;
        }

        &_cart {
            order: 4;
        }
    }
}

@media (min-width: 901px) {
    .navigation {
        .collapse {
            display: block;
            height: auto !important;
        }
    }

    .navbar-toggle {
        display: none;
    }
}