
$color-theme: #fff;
$color-white: #fff;
$color-darktext: #000;
$color-viewer-theme: rgba(33, 33, 33, 0.8); // dark gray
$color-shark: #fff; // changed from #212121 (dark gray)

$font-signe: 'Signe', sans-serif;
$font-govinius: 'goviniusbold', sans-serif;
$font-falkman: 'Falkman', sans-serif;
$font-falkmanbold: 'falkmanbold', sans-serif;
$font-brownlight: 'brownlight', sans-serif;
$font-brownbold: 'brownbold', sans-serif;

$color-bittersweet: #ff7862; // pale red
$color-salmon: #f1856b; // pale red
$color-strikemaster: #975379; // purple
$color-endeavour: #0055ae; // blue
$color-funblue: #005cab; // blue
$color-mariner: #3a6bc0; // sea blue
$color-indigo: #5960c6; // purple blue
$color-padua: #b0e4ce; // light turquoise
$color-vistablue: #90d5ad; // turquoise
$color-mountainmeadow: #00bf83; // turquoise
$color-silvertree: #63c29d; // dark turquoise
$color-emerald: #07cd83; // green turquoise
$color-sunglow: #ffcd31; // yellow
$color-caramel: #ffdbab; // light yellow
$color-peach: #ffe4b8; // nude
$color-gray-background: #f1f1f1;

$color-hkm-green: #00C281; // HKM provided brand theme colors
$color-hkm-purple: #935379;
$color-hkm-orange: #FF7865; // #F6A04D oli ohjeistossa mutta sivuilla tuo toinen, imo parempi
$color-hkm-pink: #F5C7B8;
$color-hkm-blue: #5268C2;


// BELOW ARE NEW HKM COLORS 21 MAR 2017 NAMED AFTER FUNCTION, NOT COLOR

$color-hkm-uppernav: rgb(147, 83, 121);
$color-hkm-searchbox: rgb(142, 216, 172);
$color-hkm-icons: rgb(147, 83, 121);
$color-hkm-picturetext: rgb(147, 83, 121);
$color-hkm-headings: rgb(245, 199, 184);