{% extends 'hkm/base_collection.html' %}
{% load i18n hkm_tags widget_tweaks %}

{% block banner %}

  <div class="page-header">
    <div class="fullsize-container container">
      <div class="banner__title">
        <h1 class="banner__h1">{{ collection.title }}</h1>
      </div>
      <form class="banner__form form-inline" method="POST">
        <div class="banner__form-title">
          <h1 class="banner__h1">{{ collection_form.title }}</h1>
        </div>
        <div class="banner__form-wrapper form-group">
          {% csrf_token %}
          <div class="banner__checkbox checkbox">
            <label>{% trans 'Set to public' %}</label>
            {% render_field collection_form.is_public type+="checkbox" %}
          </div>
          {% if user.profile.is_admin %}
            <div class="banner__checkbox checkbox">
              <label>{% trans 'Show in landing page' %}</label>
              {% render_field collection_form.show_in_landing_page type+="checkbox" %}
            </div>
            <div class="banner__checkbox checkbox">
              <label>{% trans 'Set to featured' %}</label>
              {% render_field collection_form.is_featured type+="checkbox" %}
            </div>
          {% endif %}
          <input type="hidden" name="action" value="edit" />
          <button class="banner__btn btn btn-primary" type="submit">{% trans 'Save' %}</button>
          <button class="banner__btn btn btn-default" id="edit-title-cancel" type="button">{% trans 'Cancel' %}</button>
        </div>
      </form>
      <div class="banner-actions">
        {% if permissions.can_edit %}
          <button id="edit-title-btn" class="banner-actions__btn"><img src="/static/hkm/img/share.png"></img></button>
        {% endif %}
          <button class="banner-actions__btn"><img src="/static/hkm/img/share.png"></img></button>
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}

  <div class="fullsize-container container">

    <div class="grid flex-images">
      <div class="grid__group item-slider invisible">
        {% for record in collection.records.all %}
          <div class="grid__item item" data-w="" data-h="">
            <a href="{% url 'hkm_collection' collection_id=collection.id %}?rid={{ record.id }}">
              <div class="grid__meta">
                <span class="grid__meta--title">{{ record.get_details.title }}</span>
                <span class="grid__meta--other"></span>
              </div>
              <img class="flex-img" src="{{ record.get_preview_image_absolute_url }}"></img>
            </a>
            <button class="grid__item-remove" data-record-id="{{ record.id }}" data-confirm="{% trans 'Are you sure you want to delete this item?' %}">X</button>
            {% if collection.collection_type == 'favorite' %}
              <div class="grid__fav active"></div>
            {% else %}
              <button class="grid__fav {% if record|is_favorite:user %}active{% endif %}" data-record-id="{{ record.record_id }}"></button>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>

  </div> <!-- Container -->

{% endblock %}
