{% extends 'hkm/base_viewer.html' %}
{% load hkm_tags %}
{% load i18n %}

{% block viewer_arrows %}

  {% if previous_record %}
    <a href="{% url 'hkm_collection' collection_id=collection.id %}?rid={{ previous_record.id }}" class="image-viewer-arrow arrow-left"><img src="/static/hkm/img/arrow_left.png"></img></a>
  {% endif %}
  {% if next_record %}
    <a href="{% url 'hkm_collection' collection_id=collection.id %}?rid={{ next_record.id }}" class="image-viewer-arrow arrow-right"><img src="/static/hkm/img/arrow_right.png"></img></a>
  {% endif %}

{% endblock %}

{% block content %}

  <div class="image-viewer">
    <div id="zoomable-image-container" class="image-viewer__container">
      <img id="zoomable-image" class="image-viewer__image" data-full-res-url="{{ record.get_full_res_image_absolute_url }}" src="{{ record.get_preview_image_absolute_url }}"></img>
    </div>
  </div>

{% endblock %}

{% block hidden %}
  {% include 'hkm/snippets/popover_cart.html' with full_res_image_url=record.get_full_res_image_absolute_url web_image_url=record.record_id|finna_default_image_url finna_id=record.record_id %}
  {% include 'hkm/snippets/popover_info.html' with record_year=record.get_details.year record_measures=record.get_details.rawData.measurements record_geo=record.get_details.rawData.geographic record_description=record.get_details.rawData.description record_authors=record.get_details.rawData.author record_title=record.get_details.title finna_id=record.record_id %}
  {% include 'hkm/snippets/popover_share.html' with finna_id=record.record_id %}
  {% include 'hkm/snippets/popover_add.html' with finna_id=record.record_id full_res_image_url=record.get_full_res_image_absolute_url web_image_url=record.record_id|finna_default_image_url %}
{% endblock %}
