{% extends 'hkm/base_browse.html' %}
{% load i18n hkm_tags widget_tweaks %}

{% block banner %}

  <div class="page-header white">
    <div class="fullsize-container container">
      <div class="banner__title">
        <h1 class="banner__h1">{{ collection.title }}</h1>
      </div>
      <div class="banner__description">{{ collection.description }}</div>
      <form class="banner__form form-inline" method="POST">
        {% csrf_token %}
        <div class="banner__form-title">
          <h1 class="banner__h1">{{ collection_form.title }}</h1>
        </div>
        <div class="banner__checkbox checkbox">
          {% render_field collection_form.is_public type+="checkbox" %}
          <label>{% trans 'Set to public' %}</label>
        </div>
        {% if user.profile.is_admin %}
          <div class="banner__checkbox checkbox">
            {% render_field collection_form.show_in_landing_page type+="checkbox" %}
            <label>{% trans 'Show in landing page' %}</label>
          </div>
          <div class="banner__checkbox checkbox">
            {% render_field collection_form.is_featured type+="checkbox" %}
            <label>{% trans 'Set to featured' %}</label>
          </div>
        {% endif %}
        <div class="banner__form-description">{{ collection_form.description }}
        </div>
        <input type="hidden" name="action" value="edit" />
        <button class="hkm-btn hkm-btn--default banner__btn btn btn-primary" type="submit">{% trans 'Save' %}</button>
        <button class="hkm-btn hkm-btn--cancel banner__btn btn btn-default" id="edit-title-cancel" type="button">{% trans 'Cancel' %}</button>
      </form>
      <div class="banner-actions">
        {% if permissions.can_edit %}
          <button class="banner-actions__btn" id="edit-title-btn">
            <i class="banner-actions__icon">
              <svg class="svg-icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-edit"></use>
              </svg>
            </i>
          </button>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}

  <div class="fullsize-container container">

    <div class="grid flex-images">
      <div class="grid__group item-slider invisible">
        {% for record in collection.records.all %}
          <div class="grid__item item" data-w="" data-h="">
            <a href="{% url 'hkm_collection' collection_id=collection.id %}?rid={{ record.id }}">
              {% if user.is_authenticated %}
                <div class="grid__fav {% if record|is_favorite:user %}active{% endif %}" data-record-id="{{ record.record_id }}">
                  <i class="grid__fav-icon">
                    <svg class="svg-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-heart-stroke"></use>
                    </svg>
                  </i>
                </div>
              {% endif %}
              <img class="flex-img" src="{{ record.get_preview_image_absolute_url }}"></img>
            </a>
            <div class="grid__meta">
              <span class="grid__meta--title">{{ record.get_details.title }}</span>
              <span class="grid__meta--other"></span>
              <button class="grid__fav {% if record|is_favorite:user %}active{% endif %}" data-record-id="{{ record.record_id }}">
                  <i class="grid__fav-icon">
                    <svg class="svg-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-heart-stroke"></use>
                    </svg>
                  </i>
              </button>
            </div>
            <button class="grid__item-remove" data-record-id="{{ record.id }}" data-confirm="{% trans 'Are you sure you want to delete this item?' %}">
              <i class="grid__icon">
                <svg class="svg-icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-remove"></use>
                </svg>
              </i>
            </button>
          </div>
        {% endfor %}
      </div>
    </div>

  </div> <!-- Container -->

{% endblock %}
