{% extends 'hkm/base_viewer.html' %}
{% load i18n %}

{% block content %}

  <div class="image-viewer" style="background-image:url('/static/hkm/img/city.jpg');"></div>

{% endblock %}

{% block modals %}

  <div class="modal-search modal fade" id="modal-search" tabindex="-1" role="dialog">
    <div class="modal-search__dialog modal-dialog" role="document">
      <div class="modal-search__content modal-content">
        <div class="modal-search__body modal-search__body--top modal-body">
          <div class="container">
            <form class="search-form form-group" action="{% url 'hkm_search' %}">
              <div class="search-form__content input-group">
                <input class="search-form__field form-control" type="text" name="search" {% if search_term %} value="{{ search_term }}"{% endif %} />
                <span class="search-form__btn-container input-group-btn">
                  <button class="search-form__btn btn btn-default" type="submit"><img src="/static/hkm/img/suurennuslasi.png"></img></button>
                </span>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-search__body modal-search__body--bottom modal-body">
          <div class="container">
            <h1 class="explore__h1"><a href="{% url 'hkm_public_collections' %}">{% trans 'Explore' %}</a></h1>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block js %}
  {{ block.super }}
  <script>
    palikka.define('app.searchModal', ['jQuery', 'docReady'], function () {
      $('#modal-search').modal('show');
    });
  </script>
{% endblock %}
