{% extends 'hkm/base_collection.html' %}
{% load i18n %}
{% load hkm_tags %}

{% block banner %}

  <div class="page-header">
    <div class="container">
      <h1>{% trans 'My collections' %}</h1>
    </div>
  </div>

{% endblock %}

{% block content %}

  <div class="container">

    <!-- <h1>Search Results {{ search_result.page }}/{{ search_result.pages }} {{ search_result.resultCount }}</h1> -->

    <div class="flex-images">
      {% for collection in collections %}
        <div class="item" data-w="550" data-h="400">
          <a href="{% url 'hkm_collection' collection_id=collection.id %}">
            <span class="record-title">{{ collection }}</span>
            <div class="flex-images flex-sub">
              <div class="item" style="background-image:url('{% finna_image collection.records.first.record_id w=400 h=400 %}')"></div>
              <div class="item" style="background-image:url('{% finna_image collection.records.first.record_id w=400 h=400 %}')"></div>
              <div class="item" style="background-image:url('{% finna_image collection.records.first.record_id w=400 h=400 %}')"></div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>

  </div> <!-- Container -->

{% endblock %}
