{% extends 'hkm/base_collection.html' %}
{% load i18n %}
{% load hkm_tags %}

{% block banner %}

  <div class="page-header">
    <div class="container">
      <h1>{% trans 'My collections' %}</h1>
    </div>
  </div>

{% endblock %}

{% block content %}

  <div class="container">

    <!-- <h1>Search Results {{ search_result.page }}/{{ search_result.pages }} {{ search_result.resultCount }}</h1> -->

    <div class="grid flex-images">
      <div class="grid__group item-slider invisible">
        {% for collection in collections %}
          <div class="grid__item item" data-w="550" data-h="400">
            <a href="{% url 'hkm_collection' collection_id=collection.id %}">
              <div class="sub-grid flex-images">
                {% with images=collection|display_images %}
                  {% if images|length == 1 %}
                    <div class="grid__item item" style="background-image:url('{{ images.0 }}')"></div>
                  {% else %}
                    {% for image_url in images %}
                      <div class="grid__item item" style="background-image:url('{{ image_url }}')"></div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
              </div>
              <div class="grid__meta">
                <span class="grid__meta--title">{{ collection.title }}</span>
                <span class="grid__meta--other">{% if collection.description %}{{ collection.description }}{% else %}{% trans 'No description' %}{% endif %}</span>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>

  </div> <!-- Container -->

{% endblock %}
