{% extends 'hkm/base_browse.html' %}
{% load i18n hkm_tags %}

{% block banner %}

  <div class="page-header bittersweet">
    <div class="fullsize-container container">
      <div class="banner__title">
        <h1 class="banner__h1">Kuvan tilaus</h1>
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}

  <div class="record-meta">

    {% include 'hkm/views/order_steps_menu.html' %}
    {% if order %}

      <div class="record-meta__col record-meta__col--left col-md-6">
        <img class="record-meta__image" src="{% finna_image order.record_finna_id %}"></img>
      </div>
      <div class="record-meta__col record-meta__col--right col-md-6">
        <h1 class="record-meta__title">{{ record.title }}</h1>
        <p>ID: {{ order.id }}</p>
        <p>Number of items: {{ order.amount }}</p>
        <form method="POST">
          {% csrf_token %}
          {% include 'hkm/snippets/form_fields.html' with form=order_contact_information_form %}
          <input type="hidden" name="action" value="order-contact-info" />
          <button class="hkm-btn hkm-btn--default btn btn-primary" type="submit">{% trans 'Submit' %}</button>
        </form>
      </div>
     
  </div>

    {% else %}

      {% include 'hkm/snippets/not_responding.html' %}

    {% endif %}

  </div>

{% endblock %}
