{% extends 'hkm/base_browse.html' %}
{% load i18n hkm_tags %}

{% block banner %}

  <div class="page-header bittersweet">
    <div class="fullsize-container container">
      <div class="banner__title">
        <h1 class="banner__h1">Kuvan tilaus</h1>
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}

  <div class="record-meta">

    {% if order %}

      <div class="record-meta__col record-meta__col--left col-md-6">
        <div><img class="record-meta__image" data-img-url="{% finna_image order.record_finna_id %}" src="{% finna_image order.record_finna_id %}"></img></div>
      </div>
      <div class="record-meta__col record-meta__col--right col-md-6">
        Noni
      </div>
     
  </div>

    {% else %}

      {% include 'hkm/snippets/not_responding.html' %}

    {% endif %}

  </div>

{% endblock %}
