{% extends 'hkm/base_browse.html' %}
{% load i18n hkm_tags %}

{% block banner %}

  <div class="page-header">
    <div class="fullsize-container container">
      <div class="banner__title">
        <h1 class="banner__h1">{% trans 'Send feedback' %}</h1>
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}

  <div class="container">

    {% if record %}
    
      <div class="record-meta__col record-meta__col--left col-md-4">
        <img class="record-meta__image" src="{% finna_image record.id %}"></img>
      </div>
      <div class="record-meta__col record-meta__col--right col-md-8">
        <form method="POST">
          <h1>{% trans 'Feedback' %}</h1>
          {% csrf_token %}
          {% include 'hkm/snippets/form_fields.html' with form=feedback_form %}
          <input type="hidden" name="action" value="feedback" />
          <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
        </form>
      </div>

    {% else %}

      {% include 'hkm/snippets/not_responding.html' %}

    {% endif %}

  </div>

{% endblock %}
