{% extends 'hkm/base_viewer.html' %}
{% load hkm_tags %}
{% load i18n %}

{% block actions %}

  <div class="actions actions_left">
    <button class="actions__btn"><img src="/static/hkm/img/zoom_in.png"></img></button>
    <button class="actions__btn"><img src="/static/hkm/img/zoom_out.png"></img></button>
  </div>
  <div class="actions actions_right">
    <button class="actions__btn"><img src="/static/hkm/img/karry.png"></img></button>
    <button class="actions__btn"><img src="/static/hkm/img/info.png"></img></button>
    <button class="actions__btn"><img src="/static/hkm/img/share.png"></img></button>
    {% if user.is_authenticated %}
      <button class="actions__btn" data-toggle="modal" data-target="#add-to-collection"><img src="/static/hkm/img/h_sydan_valk.png"></img></button>
    {% endif %}
  </div>

{% endblock %}

{% block content %}

  <div class="image-viewer" style="background-image:url('{% finna_image record.id w=2000 h=2000 %}');"></div>

  <!-- {{ record }} -->

{% endblock %}


{% block forms %}

  {% if user.is_authenticated %}
    <form class="modal fade" id="add-to-collection" method="POST" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{% trans 'Add to a new collection' %}</h4>
          </div>
          <div class="modal-body">
            {% csrf_token %}
            <input type="hidden" name="action" value="add-to-collection" />
            <input type="hidden" name="record_id" value="{{ record.id }}" />
            <input class="form-control" type="text" name="new_collection_name" value="{% trans 'Uusi kokoelma' %}"></input>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
            <button type="submit" value="add-to-collection" class="btn btn-primary">{% trans 'Submit' %}</button>
          </div>
        </div>
      </div>
    </form>
  {% endif %}

{% endblock %}
