{% extends 'hkm/base_viewer.html' %}
{% load hkm_tags %}
{% load i18n %}

  {% block actions %}
    {% if record %}
      <div class="actions">
        <button class="actions__btn actions__btn--left" id="zoom-in-btn">
          <i class="actions__icon">
            <svg class="svg-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-zoom-in"></use>
            </svg>
          </i>
        </button>
        <button class="actions__btn actions__btn--left" id="zoom-out-btn">
          <i class="actions__icon">
            <svg class="svg-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-zoom-out"></use>
            </svg>
          </i>
        </button>
        {% if user.is_authenticated %}
          <button class="actions__btn actions__btn--right nav__fav" data-record-id="{{ hkm_id }}" id="popover-favorite">
          <i class="actions__icon">
              <svg class="svg-icon nav__fav--heart">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-heart-stroke"></use>
              </svg>
          </i>
          </button>
          <button class="actions__btn actions__btn--right" id="popover-add">
            <i class="actions__icon">
              <svg class="svg-icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-logo"></use>
              </svg>
            </i>
          </button>
        {% endif %}
        <button class="actions__btn actions__btn--right" id="popover-share">
          <i class="actions__icon">
            <svg class="svg-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-share"></use>
            </svg>
          </i>
        </button>
        <button class="actions__btn actions__btn--right" id="popover-info">
          <i class="actions__icon">
            <svg class="svg-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-info"></use>
            </svg>
          </i>
        </button>
        <button class="actions__btn actions__btn--right" id="popover-cart">
          <i class="actions__icon">
            <svg class="svg-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-download"></use>
            </svg>
          </i>
        </button>
        <form method="POST">
          {% csrf_token %}
          <input type="hidden" name="action" value="order" />
          <button type="submit" formaction="{% url 'hkm_order_create' finna_id=record.id %}" name="orderbutton" class="actions__btn actions__btn--right" id="popover-buy">
            <i class="actions__icon">
              <svg class="svg-icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-shopping"></use>
              </svg>
            </i>
          </button>
        </form>
      </div>
    {% endif %}
  {% endblock %}

{% block content %}

  {% if record %}

    <div class="image-viewer">
      <div id="zoomable-image-container" class="image-viewer__container">
        <img id="zoomable-image" class="image-viewer__image" data-full-res-url="{{ record.full_res_url }}" src="{% finna_image record.id %}"></img>
      </div>
    </div>
  {% else %}
    {% include 'hkm/snippets/not_responding.html' %}
  {% endif %}

{% endblock %}

{% block hidden %}
  {% if record %}
    {% include 'hkm/snippets/popover_cart.html' with full_res_image_url=record.full_res_url web_image_url=record.id|finna_default_image_url finna_id=record.id %}
    {% include 'hkm/snippets/popover_info.html' with record_year=record.year record_measures=record.rawData.measurements record_geo=record.rawData.geographic record_description=record.rawData.description record_authors=record.rawData.author record_title=record.title finna_id=record.id %}
    {% include 'hkm/snippets/popover_share.html' with finna_id=record.id %}
    {% include 'hkm/snippets/popover_add.html' with finna_id=record.id full_res_image_url=record.full_res_url web_image_url=record.id|finna_default_image_url %}
  {% endif %}
{% endblock %}
