{% extends 'hkm/base_viewer.html' %}
{% load hkm_tags %}
{% load i18n %}

{% block viewer_arrows %}

  {% if search_result.previous_page %}
    <a href="{% url 'hkm_search_record' %}?search={{ search_term }}&ft={{ facet_type|default:"" }}&fv={{ facet_value|default:"" }}&page={{ search_result.previous_page }}" class="image-viewer-arrow arrow-left"><img src="/static/hkm/img/arrow_left.png"></img></a>
  {% endif %}
  {% if search_result.next_page %}
    <a href="{% url 'hkm_search_record' %}?search={{ search_term }}&ft={{ facet_type|default:"" }}&fv={{ facet_value|default:"" }}&page={{ search_result.next_page }}" class="image-viewer-arrow arrow-right"><img src="/static/hkm/img/arrow_right.png"></img></a>
  {% endif %}

{% endblock %}

{% block content %}

  <div class="image-viewer"><img src="{% finna_image record.id w=2000 h=2000 %}"></img></div>

{% endblock %}

{% block hidden %}
  {% include 'hkm/snippets/popover_cart.html' with img_url=record.full_res_url %}
  {% include 'hkm/snippets/popover_info.html' %}
  {% include 'hkm/snippets/popover_add.html' %}
{% endblock %}
