{% extends 'hkm/base_collection.html' %}
{% load i18n %}
{% load hkm_tags %}

{% block banner %}

  <div class="page-header">
    <div class="container">
      <h1>{% trans 'COLLECTION' %} / {{ search_result.resultCount }} {% trans 'RECORDS' %}</h1>
    </div>
  </div>

  <div class="container">

    <form class="search-form form-group">
      <div class="search-form__content input-group">
        <input class="search-form__field form-control" type="text" name="search" {% if search_term %} value="{{ search_term }}"{% endif %} />
        <span class="search-form__btn-container input-group-btn">
          <button class="search-form__btn btn btn-default" type="submit"><img src="/static/hkm/img/suurennuslasi.png"></img></button>
        </span>
      </div>
    </form>

  </div>

{% endblock %}

{% block content %}

  <div class="container">

    {% if search_result.records %}

    <div class="sidebar">

      <!-- All facets : {{ facet_result.facets.keys }} -->

      <ul class="list-group list-group-root well" id="accordion">

        <li class="list-group__item list-group-item">
          <span class="caret"></span>
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-author">{% trans 'Author' %}</a>
          <ul id="collapse-author" class="list-group panel-collapse collapse {% if facet_type == 'author_facet' %}in{% endif %}">
            {% for author in facet_result.facets.author_facet %}
              <li class="list-group__item list-group-item"><a class="list-group__link {% if facet_value == author.value %}active{% endif %}" href="?search={{ search_term }}&ft=author_facet&fv={{ author.value }}">{{ author.translated }} - ({{ author.count }})</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="list-group__item list-group-item">
          <span class="caret"></span>
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-year">{% trans 'Year' %}</a>
          <ul id="collapse-year" class="list-group panel-collapse collapse {% if facet_type == 'main_date_str' %}in{% endif %}">
            {% for date_facet in facet_result.facets.main_date_str %}
              <li class="list-group__item list-group-item"><a class="list-group__link {% if facet_value == date_facet.value %}active{% endif %}" href="?search={{ search_term }}&ft=main_date_str&fv={{ date_facet.value }}">{{ date_facet.translated }} - ({{ date_facet.count }})</a></li>
            {% endfor %}
          </ul>
        </li>

      </ul>

    </div>

    <div class="article">

      <!-- <h1>Search Results {{ search_result.page }}/{{ search_result.pages }} {{ search_result.resultCount }}</h1> -->

      <div class="flex-images infinite-scroll">
        {% include 'hkm/snippets/search_records_grid.html' %}
      </div>

    </div>

    {% endif %}

  </div> <!-- Container -->

{% endblock %}
