{% extends 'hkm/base_collection.html' %}
{% load i18n %}
{% load hkm_tags %}

{% block banner %}

  <div class="page-header">
    <div class="container">
      <h1>{% trans 'KOKOELMA' %} / {{ search_result.resultCount }} {% trans 'TIETUETTA' %}</h1>
    </div>
  </div>

  <div class="container">

    <form class="form-group search-form">
      <div class="input-group">
        <input class="form-control" type="text" name="search" {% if search_term %} value="{{ search_term }}"{% endif %} />
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit"><img src="/static/hkm/img/suurennuslasi.png"></img></button>
        </span>
      </div>
    </form>

  </div>

{% endblock %}

{% block content %}

  <div class="container">

    <div class="sidebar">

      <!-- All facets : {{ facet_result.facets.keys }} -->

      <ul class="list-group list-group-root well" id="accordion">

        <li class="list-group-item">
          <span class="caret"></span>
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-author">{% trans 'Tekijä' %}</a>
          <ul id="collapse-author" class="list-group panel-collapse collapse">
            {% for author in facet_result.facets.author_facet %}
              <li class="list-group-item"><a href="?search={{ search_term }}&ft=author_facet&fv={{ author.value }}">{{ author.translated }} - ({{ author.count }})</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="list-group-item">
          <span class="caret"></span>
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-year">{% trans 'Vuosi' %}</a>
          <ul id="collapse-year" class="list-group panel-collapse collapse">
            {% for date_facet in facet_result.facets.main_date_str %}
              <li class="list-group-item"><a href="?search={{ search_term }}&ft=main_date_str&fv={{ date_facet.value }}">{{ date_facet.translated }} - ({{ date_facet.count }})</a></li>
            {% endfor %}
          </ul>
        </li>

      </ul>

    </div>

    <div class="article">

      <!-- <h1>Search Results {{ search_result.page }}/{{ search_result.pages }} {{ search_result.resultCount }}</h1> -->

      <div class="muuri-grid">
        {% for record in search_result.records %}
          <div class="muuri-item">
            <a href="{% url 'hkm_record' finna_id=record.id %}">
              <div class="muuri-item-content">
                <img src="{% finna_image record.id w=400 h=400 %}"></img>
                <span class="record-title">{{ record.title }}</span>
                <span class="record-authors">foo</span>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>

    </div>

  </div> <!-- Container -->

{% endblock %}
