{% extends 'hkm/base_browse.html' %}
{% load i18n %}

{% block banner %}

  <div class="page-header">
    <div class="fullsize-container container">
      <div class="banner__title">
        <h1 class="banner__h1 centered-fullwidth">{% trans 'Information about the service' %}</h1>
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}

  <div class="container-small container">

    <p>{% trans 'About the service paragraph 1' %}</p>
    <p>{% trans 'About the service paragraph 2' %}</p>
    <p>{% trans 'About the service paragraph 3' %}</p>
    <p>{% trans 'About the service paragraph 4' %}</p>
    <p>{% trans 'About the service paragraph 5' %}</p>

  </div>

{% endblock %}
